<!DOCTYPE html>
<head>
    <link rel="stylesheet"  href="/css/home.css">
    <title>ระบบคำนวณเกรดเฉลี่ยรวม(GPA)</title>
</head>
   
    <body>
        <img src= "fitm.png">
      

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
       crossorigin="anonymous" referrerpolicy="no-referrer" />
       
      
       
           <div class ="bar">
            <ul>
                <li class="link">
               
                
                    <i class="fa-solid fa-circle-user"></i>
                    <i class="fa-solid fa-chevron-down"></i>
                </a>
                
                <ul class="menu">
                      
                        <li><a href="#">ออกจากระบบ</a></li>
                    </ul>
                
            </li>
             
            </ul>
            </div>
            <div class ="table">
                <button class ="grade">คำนวณเกรด</button>
                <button class ="showgrade">ผลการเรียน</button>
            </div>
            
           
               


  

      
            

        

                
               
               
                    
                  
                    
               
               
                   
                

        </body>
        </html>
            