<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet",  href="/css/index.css">
    <title>ระบบคำนวณเกรดเฉลี่ยรวม(GPA)</title>
   
   
    <body>
        <img src="fitm.png">
        
       

      

           

       
            <div class="container"> 
	
            <h1>ระบบคำนวณเกรดเฉลี่ยรวม(GPA)</h1>
   
           

           
                
               
               <a href="/login"
                    <button class ="submit" align="center">เข้าสู่ระบบ</button>
                </a>
               
               
                   
              
               
            
    
            </div>

    </body>
</head>
</html>