<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="login.html">
    <title>ระบบคำนวณเกรดเฉลี่ยรวม(GPA)</title>
</head>
   
    <body>
        
       
       

       

        <div class="container"> 

        

         <div class="f2">
                <h2>เข้าสู่ระบบ</h2>

               
            <form class ="signin"  action="/login" method="POST">
                <input type="text" class="form1" placeholder="Email" required name="userID"><br>
                <input type="password" class="form1" placeholder="Password" required name="password"><br><br>
                <a href="/home">
                    <button class="btn3">ยืนยัน</button></a> &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/index">
                    <button class="btn4">ย้อนกลับ</button>
            </form>
            

    <div class ="reset">

                <a href="resetpass.html">ลืมรหัสผ่าน?</a><br><br><br><br>
            </div>

               
                
               
               
                   
                

            </div>
        </body>
        </html>
            